.detailCountry {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.dark-mode .detailCountry,
.dark-mode .detailCountry > div,
.dark-mode .detailCountry div > div {
    background: #202C36;
}

.buttonBack {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    text-decoration: none;
    color: inherit;
    margin: 2% 0 8% 5%;
    width: 136px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

.dark-mode .buttonBack {  
    background-color: #2B3844;
}

.buttonBack svg {
    margin-right: 10px;
}

.detailCountry > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.detailCountry > div, .detailCountry > div > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detailCountry h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.currencies > ul {
    display: flex;
    flex-direction: column;
}

.languesCountry {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.currencies {
    display: flex;
    flex-direction: row;
}

.currencies p {
    margin-right: 5px;
}
  
.detailCountry img {
    width: 559.715px;
    height: 483.169px;
    margin-right: 10%;
}

.countryInformation {
    margin: 2% 0 10% 0;
}

.arrowBackDark {
    display: block;
}

.arrowBackLight {
    display: none;
}

.dark-mode .arrowBackDark {
    display: none;
}

.dark-mode .arrowBackLight {
    display: block;
}


.bordersCountries {
    width: 100%; 
}

.borderList p {
    display: inline-block;
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
    margin: 5px;
    padding: 10px;
}

.dark-mode .borderList p {
    border-radius: 2px;
    background: #2B3844;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}

.CountriesLink {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 1200px) {
    .detailCountry > div, .detailCountry > div > div > div {
        display: flex;
        flex-direction: column;
    }
    .detailCountry > div {
        align-items: center;
    }
    .detailCountry > div > div {
        margin: 10px 0;
    }
    .bordersCountries {
        padding-bottom: 50px;
    }
    .countryInformation {
       display: flex;
       justify-content: flex-start;
    }
    .languesCountry {
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {
    .detailCountry img {
        width: 319.837px;
        height: 275.924px;
    }
}