ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
input {
    border: none;
    background: #FFF;
    padding: 5px;
    margin: 5px 10px;
}
  
.listSearch h3 {
    padding: 0 15px;
}
  
.listSearch li {
    box-sizing: border-box;
    color: #111517;
    width: 300px;
    height: 336px;
    flex-shrink: 0;
    margin: 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
  
.listSearch li > strong {
    padding-left: 10px;
}
  
img {
    width: 300px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 5px 5px 0 0;
}
  
.Searchbar > div:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 480px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.Searchbar > div:first-child input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
}
  
.Searchbar svg {
    padding-left: 20px;
}
  
.Searchbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    margin: 0 2.5%;
}

.dark-mode .Searchbar > div:first-child {
    background-color: #2B3844;
    color: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
  
.menuRegion {
    display: flex;
    flex-direction: column;
    width: 200px; 
    height: 56px;
}
  
select {
    border: none;
    width: 200px;
    height: 56px;
    border-radius: 5px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
    padding: 0 10px;
}

.country-link {
    text-decoration: none;
    color: inherit;
    transition: background-color box-shadow 1s ease;
}

.country-link:hover {
    background-color: rgba(56, 55, 55, 0.255);
    box-shadow: 0 2px 4px rgba(39, 39, 39, 0.1);
    cursor: pointer;
}

.dark-mode .country-link:hover {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .Searchbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menuRegion {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .Searchbar > div:first-child {
        width: 343px;
    }
}